.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

:root {
    /* COLORS */
    --red: hsla(0, 100%, 67%);
    --orangey-yellow: hsla(39, 100%, 56%);
    --green: hsla(166, 100%, 37%);
    --lavender: hsl(241, 100%, 89%);

    --light-red: hsla(0, 100%, 67%, 0.1);
    --light-orangey-yellow: hsla(39, 100%, 56%, 0.1);
    --light-green: hsla(166, 100%, 37%, 0.1);
    --light-lavender: hsla(241, 100%, 89%, 0.1);

    --text-lavender: hsla(241, 100%, 89%, 0.5);

    --cobalt-blue: hsl(234, 85%, 45%);
    --pale-blue: hsl(221, 100%, 96%);
    --dark-blue-grey: hsl(224, 30%, 27%);
}

/* MAIN */
main {
    min-height: 100vh;
}

/* LEFT SIDE */
.card-left {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    box-sizing: border-box;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.5rem 2rem 2rem 2rem;
}

.card-left-title {
    color: var(--lavender);
    margin-top: 0;
    font-size: 18px;
}

.circle {
    display: inline-block;
    width: 90px;
    padding: 20px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.user-score {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

.full-score {
    color: var(--text-lavender);
}

.congrats {
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.card-left-description {
    color: var(--lavender);
    margin-bottom: 0;
}

/* RIGHT SIDE */
.card-right {
    padding: 1.5rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

.summary-text {
    color: var(--dark-blue-grey);
    font-size: 18px;
    font-weight: 800;
}

.state-list {
    padding: 15px 0;
}

.state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.7rem 0;
}

.state-icon {
    display: flex;
}

.state-reaction {
    background-color: var(--light-red);
}
.state-reaction .state-type-text {
    color: var(--red);
}

.state-memory {
    background-color: var(--light-orangey-yellow);
}
.state-memory .state-type-text {
    color: var(--orangey-yellow);
}

.state-verbal {
    background-color: var(--light-green);
}
.state-verbal .state-type-text {
    color: var(--green);
}

.state-visual {
    background-color: var(--light-lavender);
}
.state-visual .state-type-text {
    color: var(--cobalt-blue);
}

.state-type-text {
    margin-left: 10px;
}

.state-score {
    color: var(--dark-blue-grey);
    font-weight: 700;
}
.state-score .gray {
    color: hsl(224, 30%, 27%, 0.5);
}

.card-right-button {
    background-color: var(--dark-blue-grey);
    text-align: center;
    color: #fff;
    padding: 10px 0;
    border-radius: 1.5rem;
    cursor: pointer;
}

@media (min-width: 700px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .card {
        display: flex;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        border-radius: 2rem;
    }
    .card-left {
        border-radius: 2rem;
    }
    .circle {
        width: 160px;
        padding: 35px 10px;
    }
    .user-score {
        font-size: 4rem;
    }
    .full-score {
        font-size: 18px;
    }
    .card-left, .card-right {
        width: 50%;
    }
    .card-right {
        display: flex;
        flex-direction: column;
    }
    .card-right-button {
        margin-top: auto;
    }
}